---
---
@charset "utf-8";

/**
 * Style for Bible project pages
 */

#sidebar-nav ul.chapters li.chapter {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 3px;
  width: 40px;
  height: 40px;
}

#sidebar-nav ul.chapters li.chapter a {
  display: inline-block;
  padding: 10px 0;
  margin: 0;
  background-color: #4e4e4e;
  color: white;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  width: 40px;
}

#sidebar-nav ul.chapters li.chapter a:hover {
  background-color: #949494;
}

#sidebar-nav ul.chapters li.chapter.active a {
  background-color: #44ace8 !important;
}

#sidebar-nav .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
#sidebar-nav .panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
