---
---
@charset "utf-8";

/**
 * Style for /en/ pages
 */

.btn-primary { text-transform: uppercase; }

ul.navbar-nav > li > a { text-transform: uppercase; }

.site-footer p { text-transform: uppercase; }

.footer-secondary-nav { text-transform: uppercase; }

.language-page-banner .navigation a { text-transform: uppercase; }

.popup-title { text-transform: uppercase; }
