---
---

//noinspection CssInvalidCharsetRule
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
//noinspection CssUnknownTarget
@import
  "custom_bootstrap",
  "pinned_header"
;

/**
 * Style for i18n template
 */

div.search-results-category {
  margin: 10px 0 20px;

  div.search-results-header {
    display: table;
    border-bottom: 2px solid #777;
    min-width: 280px;
    padding-bottom: 4px;
  }

  div.search-listing {
    .updated-views-div, .author-div, .language-code-div {
      color: #555;
    }

    .updated-span, .author-div, .language-code-div {
      font-style: italic;
    }

    div.listing-container {
      display: inline-block;
      float: left;
      border: 2px solid #eee;
      border-radius: 8px;
      margin: 8px;
      position: relative;

      table {
        width: 360px;
        height: 200px;

        td {
          vertical-align: top;

          &.column-1 {
            padding: 10px 8px 0 10px;
          }

          &.column-2 {
            padding: 2px 10px 10px 0;
            width: 100%
          }

          .pinned-to-bottom {
            position: absolute;
            bottom: 0;
            margin-bottom: 10px;
          }
        }
      }

      h3 {
        margin: 0 0 4px;

        span {
          font-size: 20px;
          font-weight: 700;
        }

      }

      .fa-star-o {
        font-size: 22px;
      }

      //noinspection SassScssResolvedByNameOnly
      &:hover, a:hover {
        background-color: $navbar-inverse-link-active-color;
        color: $navbar-inverse-link-color;

        .updated-views-div, .author-div, .language-code-div {
          color: $navbar-inverse-link-color;
        }
      }
    }

    div.more-container {
      display: inline-block;
      float: left;
      margin: 8px;
      width: 200px;
      height: 340px;
      line-height: 200px;
      text-align: center;

      span {
        vertical-align: middle;
        line-height: normal;
      }
    }

    .no-results, .loading-results {
      font-style: italic;
      margin: 20px;
    }
  }
}

#popular-div {
  margin-top: 100px;
}

div.clear {
  clear: both;
  margin-bottom: 40px;
}

.bold { font-weight: 700; }

#pinned-header.pin-to-top {
  .container {
    padding: 12px 15px !important;

    .float-left {
      display: inline-block;
      float: left;
    }

    .float-right {
      display: inline-block;
      float: right;
    }

    table { height: 32px; }

    #search-button {
      padding: 0 8px;
      background-color: $navbar-inverse-link-active-color;
      color: $navbar-inverse-link-color;
      text-align: center;
      cursor: pointer;
      font-size: 18px;
    }

    #browse-button {
      background-color: $navbar-inverse-link-active-color;
      color: $navbar-inverse-link-color;
      text-align: center;
      cursor: pointer;
      padding: 0 8px;
      border-left: 3px solid #fff;
      white-space: nowrap;
      font-size: 18px;
    }

    #search-button:hover, #browse-button:hover, .lc-filter:hover {
      background-color: $navbar-inverse-bg;
    }

    #search-field {
      height: 40px;
      font-size: 18px;
      width: 300px;
      vertical-align: top;
    }

    .lc-filter {
      display: inline-block;
      height: 40px;
      padding: 8px 12px;
      font-size: 16px;
      font-style: italic;
      font-weight: bold;
      text-align: center;
      vertical-align: top;
      text-transform: uppercase;
      margin-right: 5px;
      background-color: $navbar-inverse-link-active-color;
      color: $navbar-inverse-link-color;
      cursor: pointer;
      position: relative;

      .remove-lc-x {
        font-size: 10px;
        color: #ffffff;
        position: absolute;
        right: 2px;
        top: 1px;
        text-transform: none;
        font-weight: bold;
      }
    }
  }
}

.ui-front { z-index: 100; }

.ui-autocomplete {
  background-color: #fff;
  border: 1px solid #999;
  padding: 0;
  width: 300px;

  li {
    list-style: none;
    margin: 0;
    padding: 6px 0 6px 12px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;

    &:hover {
      border-top: 1px solid $navbar-inverse-link-active-color;
      border-bottom: 1px solid $navbar-inverse-link-active-color;
      background-color: $navbar-inverse-link-active-color;
      color: $navbar-inverse-link-color;
    }
  }
}

@media (max-width: 1199px) {
  div.search-results-category {
    div.search-listing {
      div.listing-container {
        table {
          width: 450px;
          height: 160px;
        }
      }

      div.more-container {
        width: 450px;
        height: 160px;
        line-height: 160px;
      }
    }
  }
}

@media (max-width: 991px) {
  div.search-results-category {
    div.search-listing {
      div.listing-container {
        table {
          width: 340px;
          height: 160px;
        }

        h3 span {
          font-size: 16px;
        }
        .updated-views-div, .author-div, .language-code-div {
          font-size: 15px;
        }
      }

      div.more-container {
        width: 340px;
        height: 160px;
        line-height: 160px;
      }
    }
  }
}

@media (max-width: 840px) {
  #pinned-header.pin-to-top { top: 60px !important; }
}

@media (max-width: 764px) {
  div.search-results-category {
    div.search-listing {
      div.listing-container {
        table {
          width: 100%;
          height: 160px;
        }
      }
    }

    div.more-container {
      width: 100%;
      height: 60px;
      line-height: 60px;
    }
  }
}
