---
---

//noinspection CssInvalidCharsetRule
@charset "utf-8";

/**
 * Style for project commit pages
 */

header {
  margin-bottom: 20px;

  #header-title {
    padding-bottom: 10px;

    h1 {
      margin: 0;

      #starred-icon {
        i {
          font-size: 26px;
          vertical-align: middle;
          color: #000000;
        }
      }

      #starred-icon.starred {
        i {
          color: #3ebcfe;
        }
      }

      #build-status-icon {
        display: inline-block;
        vertical-align: middle;
        i {
          font-size: 30px;
          font-weight: 300;
          vertical-align: middle;
        }
        i:hover {
          color: #3ebcfe;
        }
      }

      #print-button,
      #download_menu_button,
      #versions_menu_button {
        background-color: white;
        color: #3ebcfe;
        border: none;
        -webkit-box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
      }
      .dropdown-menu {
        background-color: white;
        border: none;
        -webkit-box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
      }
      .dropdown-menu > li {
        padding: 0;
      }
      .dropdown-menu > li > a {
        color: #3ebcfe;
        // padding: 0 20px;
      }
      /* RJH added these, Sept 2019 */
      .versions-dropdown > li > a,
      .versions-dropdown > li > div {
        padding: 5px 10px;
        line-height: 1.4;
        display: flex;
        align-items: center;
        font-size: 16px;
        justify-content: space-between;
      }
      .versions-dropdown > li > a > img,
      .versions-dropdown > li > div img {
        margin-left: 6px;
      }
    }
  }
}

#sub-header {
  margin: 0 0 12px 35px;
  font-size: 16px;

  #last-updated {
    font-weight: 400;
    font-style: italic;
  }

  span {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  #draft-notice {
    font-style: italic;
  }
}

.container {
  width: 95% !important;
}
// RJH added this, Sept 2019
.content {
  // Don't want really long lines -- hard to read
  max-width: 1400px; // includes floating Table of Contents
  margin-left: auto;
  margin-right: auto;
}
#outer-content {
  // Don't want really long lines -- hard to read
  max-width: 700px;
}
nav {
  #right-sidebar-nav {
    width: 270px;
  }
}

#revisions {
  font-size: 14px;

  tr {
    td {
      border-bottom: thin solid #ccc;
      padding: 4px 0 2px;

      img {
        float: right;
        margin-right: 4px;
      }
    }
  }
}

.borderless {
  border: 0 !important;
}

/**
 * Sidebar Nav
 */
@media (min-width: 979px) {
  #right-sidebar-nav.affix {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    overflow-y: auto;
    width: 20%;

    &.pin-to-top {
      top: 130px !important;
    }
  }
}

#content-header {
  background-color: #fff;
  width: 100%;
  display: block;
  z-index: 100;
  overflow-y: auto;
  padding-left: 10px;

  h1 {
    border-bottom: thin solid #ccc;
  }

  &.affix {
    position: fixed;
    left: 0;
  }

  #mobile-content-nav-toggle {
    float: right;
    border: none;
    background-color: transparent;

    &:after {
      font-family: "Glyphicons Halflings";
      font-size: 0.8em;
      content: "\e258";
      color: #000;
    }

    &.expanded:after {
      content: "\e259";
    }
  }

  #mobile-content-nav {
    padding-bottom: 4em;
    border-bottom: solid #ccc;

    li,
    h1,
    h2,
    h3,
    h4,
    h5 h6 {
      font-size: 28px !important;
    }

    > ul > li > h1 {
      display: none; /* For OBS to remove "Navigation" */
    }
  }
}

.content-nav {
  li {
    margin: 0;
    a {
      padding: 0;
    }
  }

  li.active {
    > a {
      font-weight: normal;
      color: #000;
      margin: 0;
    }
  }
}

@media (max-width: 1199px) {
  #right-sidebar-nav.affix {
    width: 20%;
  }
}

/**
 * Style for Bible navigation
 */
body.bible,
body.tq,
body.tn {
  .content-nav {
    ul.chapters {
      li.chapter {
        list-style-type: none;
        display: inline-block;
        padding: 0;
        margin: 3px;
        width: 40px;
        height: 40px;

        a {
          display: inline-block;
          padding: 10px 0;
          margin: 0;
          background-color: #4e4e4e !important;
          color: white;
          height: 40px;
          text-align: center;
          vertical-align: middle;
          width: 40px;
        }

        a:hover {
          background-color: #949494 !important;
        }
      }

      li.chapter.active {
        a {
          background-color: #44ace8 !important;
        }
      }
    }

    .panel-heading {
      .accordion-toggle {
        &:after {
          font-family: "Glyphicons Halflings";
          content: "\e259"; /* expanded */
          font-size: 0.8em;
          float: right;
          color: #999;
        }
        &.collapsed:after {
          content: "\e258"; /* collapsed */
        }
      }
    }
  }
}

/**
 * Style for tA project pages
 */
body.ta {
  #content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      page-break-before: auto !important;
      page-break-after: avoid !important;
      break-after: avoid-page !important;
    }

    .section-header {
      display: block;
      font-size: 1.5em;
      -webkit-margin-before: 0.83em;
      -webkit-margin-after: 0.83em;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      font-weight: bold;
    }

    h1 + *,
    h2 + *,
    h3 + *,
    h4 + *,
    h5 + *,
    h6 + *,
    .h1 + *,
    .h2 + *,
    .h3 + *,
    .h4 + *,
    .h5 + *,
    .h6 + *,
    .section-header > p:first-child {
      page-break-before: avoid;
      page-break-after: auto;
    }

    li {
      page-break-before: avoid;
      page-break-after: auto;
    }

    .box {
      display: block;
      font-size: 10pt;
      border: 1px solid #999999;
      padding: 5px;
      margin: 5px;
      page-break-inside: avoid;

      ul {
        padding: 0;
      }
      li {
        list-style: none;
        font-style: italic;
      }
      p {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    .top-box {
      float: right;
      width: 250px;

      em:first-child {
        display: block;
        padding-top: 10px;
      }
    }

    .bottom-box {
      margin: 5px 10px;
      clear: both;
    }

    blockquote {
      padding: 0 15px;
      color: #444;
      border-left: 4px solid #ddd;
      > :first-child {
        margin-top: 0;
      }
      > :last-child {
        margin-bottom: 0;
      }
    }

    table {
      overflow: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      word-break: keep-all;
      border-collapse: collapse;
      border-spacing: 0;
      page-break-inside: avoid;

      thead {
        box-shadow: none;
        th {
          cursor: auto;
          background: #f9fafb;
          text-align: inherit;
          color: rgba(0, 0, 0, 0.87);
          padding: 0.92857143em 0.71428571em;
          vertical-align: inherit;
          font-style: unset;
          font-weight: 700;
          text-transform: none;
          border-bottom: 1px solid rgba(34, 36, 38, 0.1);
          border-left: none;
        }
        tr > th:first-child {
          border-left: none;
        }
        tr:first-child > th:first-child {
          border-radius: 0.28571429rem 0 0;
        }
      }
      th,
      td {
        padding: 6px 13px !important;
        border: 1px solid #ddd !important;
        -webkit-transition: background 0.1s ease, color 0.1s ease;
        transition: background 0.1s ease, color 0.1s ease;
      }
      tr {
        background-color: #fff;
        border-top: 1px solid #ccc;
      }
      tr:nth-child(2n) {
        background-color: #f8f8f8;
      }
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: blue;
    }
    a:link {
      color: blue;
    }
    a:visited {
      color: blue;
    }
    a.internal {
      color: #15c !important;
    }
    a.external {
      color: #15f !important;
    }
    img {
      max-width: 600px;
      text-align: center;
    }
    ul {
      li {
        margin: 0;
        p {
          margin: 0;
        }
      }
    }
    div:not(.box) > ul > li:first-child,
    div:not(.box) ol > li > ul > li:first-child {
      margin-top: 1em;
    }
    div:not(.box) > ul > li:last-child,
    div:not(.box) ol > li > ul > li:last-child {
      margin-bottom: 1em;
    }
    div:not(.box) ul li li:last-child {
      margin-bottom: 0.5em;
    }

    .h1 {
      display: block;
      font-size: 2em;
      -webkit-margin-before: 0.67em;
      -webkit-margin-after: 0.67em;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      font-weight: bold;
    }

    .h2 {
      display: block;
      font-size: 1.5em;
      -webkit-margin-before: 0.83em;
      -webkit-margin-after: 0.83em;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      font-weight: bold;
    }

    .h3 {
      display: block;
      font-size: 1.17em;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      font-weight: bold;
    }

    .h4 {
      display: block;
      -webkit-margin-before: 1.33em;
      -webkit-margin-after: 1.33em;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      font-weight: bold;
    }

    .h5 {
      display: block;
      font-size: 0.83em;
      -webkit-margin-before: 1.67em;
      -webkit-margin-after: 1.67em;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      font-weight: bold;
    }

    .h6 {
      display: block;
      font-size: 0.75em;
      -webkit-margin-before: 2em;
      -webkit-margin-after: 2em;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      font-weight: bold;
    }

    ol {
      list-style-type: decimal;
    }
    ol ol {
      list-style-type: upper-latin;
    }
    ol ol ol {
      list-style-type: lower-latin;
    }
    ol ol ol {
      list-style-type: upper-roman;
    }
    ol ol ol ol {
      list-style-type: lower-roman;
    }
    ul {
      list-style-type: disc;
    }
    ul ul {
      list-style-type: circle;
    }
    ul ul ul {
      list-style-type: square;
    }
    ul ul ul ul {
      list-style-type: circle;
    }
    ul ul ul ul ul {
      list-style-type: disc;
    }
  }
}

body.ta,
body.tw {
  .content-nav {
    ul li {
      list-style-type: none;
      margin-bottom: 5px;

      a {
        display: inline !important;
      }

      a.content-nav-expand {
        float: right;
      }
    }

    h4 {
      font-size: 18px;
    }

    > ul > li {
      margin-left: 15px !important;
      .content-nav-expand {
        &:after {
          font-family: "Glyphicons Halflings";
          content: "\e259"; /* expanded */
          font-size: 0.8em;
          float: right;
          color: #999;
        }
        &.collapsed:after {
          content: "\e258"; /* collapsed */
        }
      }

      > ul {
        padding: 0;
      }
    }
  }

  .content-nav > ul > li.active > ul > li.active > a,
  .content-nav > ul > li.active > ul > li.active > a:hover,
  .content-nav > ul > li.active > ul > li.active > a:focus {
    font-weight: normal;
    color: #000000;
    margin: 0;
  }

  .content-nav > ul > li.active > ul > li.active {
    border-left: 1px solid #000000;
  }

  .content-nav > ul > li > ul > li {
    list-style-type: none;
    padding-left: 30px;
    margin-left: 28px;
    text-indent: -28px;
  }
}

.content-nav {
  li.active > a {
    font-weight: normal;
    color: #000000;
    margin: 0;
  }
}

// pin the header below the menu rather than scroll out of view
@media (min-width: 991px) {
  #pinned-header {
    width: 100%;
    z-index: 100;
    background-color: #fff;

    &.pin-to-top {
      position: fixed;
      margin-top: 0;
      top: 60px;
      box-shadow: 0 0 8px 1px #777;
      #build-status-icon {
        max-width: 35px;
        overflow: hidden;
      }
      .hide-on-pinned {
        display: none;
      }
      #sub-header {
        position: fixed;
        right: 20px;
        top: 80px;
      }
      #header-title,
      #sub-header {
        display: inline-block;
      }
      .container {
        padding-top: 6px;
        padding-bottom: 12px;
      }
    }
  }
}

// over-ride layout for rtl
[dir="rtl"] {
  #pinned-header.pin-to-top #sub-header {
    position: inherit;
    right: inherit;
    top: inherit;
    float: left;
    margin-top: 15px;
    margin-left: 0;

    #num-of-views {
      margin-right: inherit;
      margin-left: 30px;
    }
  }

  #pinned-header.pin-to-top #build-status-icon img {
    position: sticky;
    left: 0;
  }
}

#warning-modal {
  .modal-dialog {
    overflow-y: initial;

    .modal-content {
      text-align: center;

      .modal-header {
        text-align: center;

        .warning-header {
          font-weight: bold;
        }

        .warning-circle {
          border-radius: 50%;
          width: 85px;
          height: 85px;
          background: #fff;
          border: 5px solid #ff9900;
          color: #ff9900;
          text-align: center;
          font-size: 60px;
          margin: 0 auto;
          padding: 12px;
          line-height: 0;
        }
      }

      .modal-body {
        text-align: left;
        display: inline-block;
        position: relative;
        overflow-y: auto;
        max-height: 250px;
        padding: 15px;
      }

      .modal-footer {
        text-align: center !important;

        .btn.raised {
          border: 1px solid #aaaaaa;
          box-shadow: 5px 5px 3px #888888;
        }

        .btn.right {
          float: right;
        }

        .btn-primary {
          font-size: 16px;
          background-color: #3ebcfe;
          color: #fff;
        }

        .btn-secondary {
          font-size: 16px;
          color: #3ebcfe;
          background-color: #fff;
        }
      }
    }
  }
}

.warning-button {
  cursor: pointer;
  box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
}

/* The Modal (background) */
.download-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
}
