---
---
@charset "utf-8";

/**
 * Style for project commit pages
 */

header {
    margin-bottom: 20px;

    #header-title {
        h1 {
            margin: 0;

            #starred-icon {
                i {
                    font-size: 26px;
                    vertical-align: middle;
                    color: #000000;
                }
            }

            #starred-icon.starred {
                i {
                    color: #3ebcfe;
                }
            }

            #build-status-icon {
                i {
                    font-size: 30px;
                    font-weight: 300;
                    vertical-align: middle;
                }
                i:hover {
                    color: #3ebcfe;
                }
            }
        }
    }
}

#sub-header {
    margin: 0 0 12px 35px;
    font-size: 16px;

    #last-updated {
        font-weight: 400;
        font-style: italic;
        margin-right: 30px;
    }
}

#revisions {

  font-size: 14px;

  tr {
    td {
      border-bottom: thin solid #ccc;
      padding: 4px 0 2px;

      img {
        float: right;
        margin-right: 4px;
      }
    }
  }
}

.borderless {
  border: 0 !important;
}

 /**
 * Sidebar Nav
 */
@media (min-width: 979px) {
  #sidebar-nav {
    width: 250px;
  }

  #sidebar-nav.affix {
    position: fixed;
    top: 80px;
    bottom: 0;
    margin-bottom: 0;
    overflow-y: auto;
    width: 250px;

    &.pin-to-top {
      top: 130px !important;
    }
  }
}

#sidebar-nav li {
  margin: 0;
}

#sidebar-nav li a {
  padding: 0;
}

// pin the header below the menu rather than scroll out of view
#pinned-header {
  width: 100%;
  margin-top: 130px;
  margin-bottom: -130px;
  z-index: 100;
  background-color: #fff;

  &.pin-to-top {
    position: fixed;
    margin-top: 0;
    top: 65px;
    box-shadow: 0 0 8px 1px #777;

    #header-title, #sub-header {
      display: inline-block;
    }

    #sub-header {
      position: fixed;
      right: 20px;
      top: 80px
    }

    .container {
      padding-top: 6px;
      padding-bottom: 12px;
    }
  }
}

@media (max-width: 990px) {
  #pinned-header {
    &.pin-to-top {
      #sub-header {
        position: static;
        display: block;
        margin-bottom: 0;
      }
    }
  }

}

@media (max-width: 840px) {
  #pinned-header {
    margin-top: 30px;
    #header-title {
      h1 {
        font-size: 30px;
        #build-status-icon {
          i {
            font-size: 26px;
          }
        }
      }
    }
    &.pin-to-top {
      top: 60px;
    }
  }
}

@media (max-width: 767px) {
  #pinned-header {
    #header-title {
      h1 {
        font-size: 24px;
        #build-status-icon {
          i {
            font-size: 20px;
          }
        }
      }
    }
  }
}
