---
---
@charset "utf-8";

/**
 * Style for project commit pages
 */

header {
    margin-bottom: 20px;

    #header-title {
        h1 {
            margin: 0;
        
            #starred-icon {
                i {
                    font-size: 26px;
                    vertical-align: middle;
                    color: #000000;
                }
            }
        
            #starred-icon.starred {
                i {
                    color: #3ebcfe;
                }
            }
        
            #build-status-icon {
                i {
                    font-size: 30px;
                    font-weight: 300;
                    vertical-align: middle;
                }
                i:hover {
                    color: #3ebcfe;
                }
            }
        }
    }
}

#sub-header {
    margin: 0 0 12px 35px;
    font-size: 16px;

    #last-updated {
        font-weight: 400;
        font-style: italic;
        margin-right: 30px;
    }
}

 /**
 * Sidebar Nav
 */
@media (min-width: 979px) {
  #sidebar-nav {
    width: 250px;
  }

  #sidebar-nav.affix {
    position: fixed;
    top: 80px;
    bottom: 0;
    margin-bottom: 0;
    overflow-y: auto;
    width: 250px;
  }
}

#sidebar-nav li {
  margin: 0;
}

#sidebar-nav li a {
  padding: 0;
}
