_site
.sass-cache
.idea/
*.pyc
css/fonts/noto/*.ttf
css/fonts/noto/*.otf
*.lock
assets
.ruby-gemset
.ruby-version
.DS_Store
*.iml
s3cfg-dev
s3cfg-prod
secrets.tar
node_modules/
coverage/
js/db_keys*
karma.log
npm-debug.log
.jekyll-cache
.vscode
.history
.jekyll-metadata

