<header class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
    <div class="container-fluid">
      <div class="navbar-header">
        <table class="navbar-brand" dir="ltr" onclick="window.location='/'">
          <tr>
            <td><img class="navbar-brand-image" src="https://cdn.door43.org/assets/img/logo-base%402x.png"></td>
            <td><div class="navbar-brand-title">Door43</div>
              <div class="navbar-brand-subtitle">open-licensed biblical content</div></td>
          </tr>
        </table>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle Navigation</span>
          <span class="fa fa-align-justify"></span>
        </button>
      </div>
      <div id="main-navbar" class="navbar-nav navbar-right collapse navbar-collapse">
        <ul id="menu-main-menu" class="nav navbar-nav">
          {% if site.data.main-menu %}
            {{ site.data.main-menu|build }}
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="print-header" style="display: none;">
  <img src="https://cdn.door43.org/assets/img/logo.png" class="print-logo" alt="Door43 Logo">
  <h2 class="site-description">open-licensed biblical content</h2>
</div>
