<!DOCTYPE html>
<html>

{% include head.html %}

<body itemscope="itemscope" itemtype="http://schema.org/WebPage">
<link rel="stylesheet" type="text/css" href="{{ '/css/project-page.css' | prepend: site.baseurl }}">
<link rel="stylesheet" type="text/css" href="{{ '/css/bible.css' | prepend: site.baseurl }}">

{% include header.html %}

<header id="pinned-header">
    <div class="container">
        <div id="header-title">
            <h1 itemprop="headline">
                <span id="starred-icon"><i class="fa fa-star-o"></i></span>
                <span id="h1">Header</span>
                <span id="build-status-icon"><i class="fa fa-question-circle"></i></span>
                <button class="btn btn-primary hidden-print" onclick="printAll()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                <button onclick="window.open(getDownloadUrl())">Download</button>
            </h1>
        </div>
        <div id="sub-header">
            <span id="last-updated">Updated ? hours ago</span>
            <span id="views"><i class="fa fa-eye"></i></span>
            <span id="num-of-views"># views</span>
        </div>
    </div>
</header>
<div class="content-container container bible-container">
    <main class="content" role="main" itemprop="mainContentOfPage">
        <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
            <div class="page-content row">
                <div id="left-sidebar" class="col-md-3 sidebar" role="complementary">
                    { left-sidebar }
                </div>
                <div class="col-md-6 bible-outer-content" role="main" id="outer-content">
                    { content }
                </div>
                <div id="right-sidebar" class="col-md-3 sidebar" role="complementary">
                    { right-sidebar }
                </div>
            </div>
        </article>
    </main>
</div>

{% include footer.html %}

<script type="text/javascript" src="{{ '/js/general-tools.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/project-page.js' | prepend: site.baseurl }}"></script>

</body>

</html>
