<!DOCTYPE html>
<html>

{% include head.html %}

<body itemscope="itemscope" itemtype="http://schema.org/WebPage">
<link rel="stylesheet" type="text/css" href="{{ '/css/commit-page.css' | prepend: site.baseurl }}">

{% include header.html %}

<div class="content-container container">
    <main class="content" role="main" itemprop="mainContentOfPage">
        <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
            <header>
                <div id="header-title">
                    <h1 itemprop="headline">
                        <span id="starred-icon"><i class="fa fa-star-o"></i></span>
                        <span id="h1">Header</span>
                        <span id="build-status-icon"><i class="fa fa-question-circle"></i></span>
                    </h1>
                </div>
                <div id="sub-header">
                    <span id="last-updated">Updated ? hours ago</span>
                    <span id="views"><i class="fa fa-eye"></i></span>
                    <span id="num-of-views"># views</span>
                </div>
            </header>
            <div class="page-content row">
                <div id="left-sidebar" class="col-md-3 sidebar" role="complementary">
                    { sidebar }
                </div>
                <div class="col-md-9" role="main" id="content">
                    { content }
                </div>
            </div>
        </article>
    </main>
</div>

{% include footer.html %}

<script type="text/javascript" src="{{ '/js/general-tools.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/commit-page.js' | prepend: site.baseurl }}"></script>

</body>

</html>
