<!DOCTYPE html>
<html lang="{{ page.language_code }}" dir="{% if page.language_direction %}{{ page.language_direction }}{% else %}ltr{% endif %}">

{% include i18n-head.html %}

<body itemscope="itemscope" itemtype="http://schema.org/WebPage">

{% include i18n-header.html %}

<script type="html/template" id="listing-template">
<div class="listing-container">
  <a href="">
    <table>
      <tr>
        <td class="column-1"><i class="fa fa-star-o"></i></td>
        <td class="column-2">
          <h3><span class="title-span"></span></h3>
          <div class="updated-views-div"><span class="updated-span"></span>&emsp;<i class="fa fa-eye"></i> <span class="views-span"></span></div>
          <div class="author-div"></div>
          <div class="pinned-to-bottom">
            <h3><span class="language-title-span"></span></h3>
            <div class="language-code-div"></div>
          </div>
        </td>
      </tr>
    </table>
  </a>
</div>
</script>

<script type="html/template" id="more-template">
  <div class="more-container">
    <span><a href="#" class="bold">{{ site.data[page.language_code].l10n.view_more }}</a></span>
  </div>
</script>

<header id="pinned-header" class="pin-to-top">
  <div class="container">
    <div class="float-left">
      <table>
        <tr>
          <td><a class="bold" href="#" onclick="return scrollToResults('popular-div');">{{ site.data[page.language_code].l10n.popular }}</a>&emsp;<a class="bold" href="#" onclick="return scrollToResults('recent-div');">{{ site.data[page.language_code].l10n.recent }}</a></td>
        </tr>
      </table>
    </div>
    <div class="float-right">
      <table>
        <tr>
          <td><span id="language-filter"></span> <input type="text" id="search-field" placeholder="{{ site.data[page.language_code].l10n.search }}"></td>
          <td id="search-button"><i class="fa fa-search"></i></td>
          <td id="browse-button"><i class="fa fa-globe"></i> {{ site.data[page.language_code].l10n.browse }}</td>
        </tr>
      </table>
    </div>
  </div>
</header>

<div class="container">
  <div id="popular-div" class="search-results-category">
    <div class="search-results-header">{{ site.data[page.language_code].l10n.popular }}</div>
    <div class="search-listing"></div>
  </div>

  <div class="clear"></div>

  <div id="recent-div" class="search-results-category">
    <div class="search-results-header">{{ site.data[page.language_code].l10n.recently_updated }}</div>
    <div class="search-listing"></div>
  </div>

  <div class="clear"></div>
</div>
{% include i18n-footer.html %}

</body>
</html>
