<!DOCTYPE html>
{% raw  %}
<html lang="{{ LANG_CODE }}">
  <meta charset="utf-8">

  <title>{{ HEADING }}</title>

  <meta name="description" content="an unrestricted visual mini-Bible in any language">
  <meta name="author"
        content="Created by Distant Shores Media (http://distantshores.org) and the Door43 world missions community (http://door43.org).">

  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endraw %}
  <link rel="stylesheet" type="text/css" href="{{ '/css/reveal/reveal.min.css' | prepend: site.baseurl }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ '/css/reveal/reveal.theme.css' | prepend: site.baseurl }}" media="screen" id="theme">
  <link rel="stylesheet" type="text/css" href="{{ '/css/reveal/custom.css' | prepend: site.baseurl }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ '/css/reveal/zenburn.css' | prepend: site.baseurl }}" media="screen">

  <!-- If the query includes 'print-pdf', include the PDF print sheet -->
  <script>
      if (window.location.search.match(/print-pdf/gi)) {
          var link = document.createElement('link');
          link.rel = 'stylesheet';
          link.type = 'text/css';
          link.href = '/css/reveal/print/pdf.css';
          document.getElementsByTagName('head')[0].appendChild(link);
      }
  </script>

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
{% raw  %}
  <body itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <div class="meny">
        <ul>{{ MENY }}</ul>
        <p><a href="{{ HOME_LINK }}">{{ HOME }}</a></p>
    </div>
    <div class="meny-arrow"></div>
    <div class="reveal">
        <div class="slides">{{ REVEAL_SLIDES }}</div>
    </div>
{% endraw  %}
    <script type="text/javascript" src="{{ '/js/reveal/head.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/js/reveal/reveal.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/js/reveal/meny.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/js/reveal/custom.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
